/*
 * soul UI
 * author: guandsoul
 * time: 2017-7-12 develop
 */
@charset "UTF-8";
/************************************ CSS Reset ************************************/
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,html {
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
  background: #fff;
  font-family: PingFang SC,Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei,Arial,sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, div, h1, h2, h3, h4, h5, h6, p, hr, pre, ul, ol, li, a, small, span, i, strong, label {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 100%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section,summary {
  display: block;
  padding: 0;
  margin: 0;
}
ul,ol,li {
  list-style: none;
}
audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}
code,kbd,pre,samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;
  font-size: 14px;
}
small {
  font-size: 80%;
}
input, textarea, select, button {
	padding: 0;
	margin: 0;
	outline: none;
}
a {
	outline: none;
  text-decoration: none;
  color: #0e90d2;
}
a:hover, a:focus {
  color: #35a1d8;
  outline: none;
}
.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
.disabled-wrap {
  pointer-events: none;
}
/************************************ 24 Grid Layout ************************************/
.soul-row {
	position: relative;
	height: auto;
	zoom: 1;
	display: block;
  margin: 0;
}
.soul-row:before, .soul-row:after {
  content: " ";
  display: table;
}
.soul-row:after {
    clear: both;
}
[class*="soul-col-"] {
	float: left;
	-webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.soul-col-1  { width: 4.16666667%; }
.soul-col-2  { width: 8.33333333%; }
.soul-col-3  { width: 12.5%; }
.soul-col-4  { width: 16.66666667%; }
.soul-col-5  { width: 20.83333333%; }
.soul-col-6  { width: 25%; }
.soul-col-7  { width: 29.16666667%; }
.soul-col-8  { width: 33.33333333%; }
.soul-col-9  { width: 37.5%; }
.soul-col-10 { width: 41.66666667%; }
.soul-col-11 { width: 45.83333333%; }
.soul-col-12 { width: 50%; }
.soul-col-13 { width: 54.16666667%; }
.soul-col-14 { width: 58.33333333%; }
.soul-col-15 { width: 62.5%; }
.soul-col-16 { width: 66.66666667%; }
.soul-col-17 { width: 70.83333333%; }
.soul-col-18 { width: 75%; }
.soul-col-19 { width: 79.16666667%; }
.soul-col-20 { width: 83.33333333%; }
.soul-col-21 { width: 87.5%; }
.soul-col-22 { width: 91.66666667%; }
.soul-col-23 { width: 95.83333333%; }
.soul-col-24 { width: 100%; }

.soul-col-offset-1  { margin-left: 4.16666667%; }
.soul-col-offset-2  { margin-left: 8.33333333%; }
.soul-col-offset-3  { margin-left: 12.5%; }
.soul-col-offset-4  { margin-left: 16.66666667%; }
.soul-col-offset-5  { margin-left: 20.83333333%; }
.soul-col-offset-6  { margin-left: 25%; }
.soul-col-offset-7  { margin-left: 29.16666667%; }
.soul-col-offset-8  { margin-left: 33.33333333%; }
.soul-col-offset-9  { margin-left: 37.5%; }
.soul-col-offset-10 { margin-left: 41.66666667%; }
.soul-col-offset-11 { margin-left: 45.83333333%; }
.soul-col-offset-12 { margin-left: 50%; }
.soul-col-offset-13 { margin-left: 54.16666667%; }
.soul-col-offset-14 { margin-left: 58.33333333%; }
.soul-col-offset-15 { margin-left: 62.5%; }
.soul-col-offset-16 { margin-left: 66.66666667%; }
.soul-col-offset-17 { margin-left: 70.83333333%; }
.soul-col-offset-18 { margin-left: 75%; }
.soul-col-offset-19 { margin-left: 79.16666667%; }
.soul-col-offset-20 { margin-left: 83.33333333%; }
.soul-col-offset-21 { margin-left: 87.5%; }
.soul-col-offset-22 { margin-left: 91.66666667%; }
.soul-col-offset-23 { margin-left: 95.83333333%; }
.soul-col-offset-24 { margin-left: 100%; }
/*** <=767的设备 ***/
@media screen and (max-width: 767px) {
	.soul-col-xs-1  { width: 4.16666667%; }
	.soul-col-xs-2  { width: 8.33333333%; }
	.soul-col-xs-3  { width: 12.5%; }
	.soul-col-xs-4  { width: 16.66666667%; }
	.soul-col-xs-5  { width: 20.83333333%; }
	.soul-col-xs-6  { width: 25%; }
	.soul-col-xs-7  { width: 29.16666667%; }
	.soul-col-xs-8  { width: 33.33333333%; }
	.soul-col-xs-9  { width: 37.5%; }
	.soul-col-xs-10 { width: 41.66666667%; }
	.soul-col-xs-11 { width: 45.83333333%; }
	.soul-col-xs-12 { width: 50%; }
	.soul-col-xs-13 { width: 54.16666667%; }
	.soul-col-xs-14 { width: 58.33333333%; }
	.soul-col-xs-15 { width: 62.5%; }
	.soul-col-xs-16 { width: 66.66666667%; }
	.soul-col-xs-17 { width: 70.83333333%; }
	.soul-col-xs-18 { width: 75%; }
	.soul-col-xs-19 { width: 79.16666667%; }
	.soul-col-xs-20 { width: 83.33333333%; }
	.soul-col-xs-21 { width: 87.5%; }
	.soul-col-xs-22 { width: 91.66666667%; }
	.soul-col-xs-23 { width: 95.83333333%; }
	.soul-col-xs-24 { width: 100%; }

  .soul-col-xs-offset-1  { margin-left: 4.16666667%; }
  .soul-col-xs-offset-2  { margin-left: 8.33333333%; }
  .soul-col-xs-offset-3  { margin-left: 12.5%; }
  .soul-col-xs-offset-4  { margin-left: 16.66666667%; }
  .soul-col-xs-offset-5  { margin-left: 20.83333333%; }
  .soul-col-xs-offset-6  { margin-left: 25%; }
  .soul-col-xs-offset-7  { margin-left: 29.16666667%; }
  .soul-col-xs-offset-8  { margin-left: 33.33333333%; }
  .soul-col-xs-offset-9  { margin-left: 37.5%; }
  .soul-col-xs-offset-10 { margin-left: 41.66666667%; }
  .soul-col-xs-offset-11 { margin-left: 45.83333333%; }
  .soul-col-xs-offset-12 { margin-left: 50%; }
  .soul-col-xs-offset-13 { margin-left: 54.16666667%; }
  .soul-col-xs-offset-14 { margin-left: 58.33333333%; }
  .soul-col-xs-offset-15 { margin-left: 62.5%; }
  .soul-col-xs-offset-16 { margin-left: 66.66666667%; }
  .soul-col-xs-offset-17 { margin-left: 70.83333333%; }
  .soul-col-xs-offset-18 { margin-left: 75%; }
  .soul-col-xs-offset-19 { margin-left: 79.16666667%; }
  .soul-col-xs-offset-20 { margin-left: 83.33333333%; }
  .soul-col-xs-offset-21 { margin-left: 87.5%; }
  .soul-col-xs-offset-22 { margin-left: 91.66666667%; }
  .soul-col-xs-offset-23 { margin-left: 95.83333333%; }
  .soul-col-xs-offset-24 { margin-left: 100%; }
}
/*** >=768的设备 ***/
@media screen and (min-width: 768px) {
	.soul-col-sm-1 { width: 4.16666667%; }
	.soul-col-sm-2 { width: 8.33333333%; }
	.soul-col-sm-3 { width: 12.5%; }
	.soul-col-sm-4 { width: 16.66666667%; }
	.soul-col-sm-5 { width: 20.83333333%; }
	.soul-col-sm-6 { width: 25%; }
	.soul-col-sm-7 { width: 29.16666667%; }
	.soul-col-sm-8 { width: 33.33333333%; }
	.soul-col-sm-9 { width: 37.5%; }
	.soul-col-sm-10 { width: 41.66666667%; }
	.soul-col-sm-11 { width: 45.83333333%; }
	.soul-col-sm-12 { width: 50%; }
	.soul-col-sm-13 { width: 54.16666667%; }
	.soul-col-sm-14 { width: 58.33333333%; }
	.soul-col-sm-15 { width: 62.5%; }
	.soul-col-sm-16 { width: 66.66666667%; }
	.soul-col-sm-17 { width: 70.83333333%; }
	.soul-col-sm-18 { width: 75%; }
	.soul-col-sm-19 { width: 79.16666667%; }
	.soul-col-sm-20 { width: 83.33333333%; }
	.soul-col-sm-21 { width: 87.5%; }
	.soul-col-sm-22 { width: 91.66666667%; }
	.soul-col-sm-23 { width: 95.83333333%; }
	.soul-col-sm-24 { width: 100%; }

  .soul-col-sm-offset-1  { margin-left: 4.16666667%; }
  .soul-col-sm-offset-2  { margin-left: 8.33333333%; }
  .soul-col-sm-offset-3  { margin-left: 12.5%; }
  .soul-col-sm-offset-4  { margin-left: 16.66666667%; }
  .soul-col-sm-offset-5  { margin-left: 20.83333333%; }
  .soul-col-sm-offset-6  { margin-left: 25%; }
  .soul-col-sm-offset-7  { margin-left: 29.16666667%; }
  .soul-col-sm-offset-8  { margin-left: 33.33333333%; }
  .soul-col-sm-offset-9  { margin-left: 37.5%; }
  .soul-col-sm-offset-10 { margin-left: 41.66666667%; }
  .soul-col-sm-offset-11 { margin-left: 45.83333333%; }
  .soul-col-sm-offset-12 { margin-left: 50%; }
  .soul-col-sm-offset-13 { margin-left: 54.16666667%; }
  .soul-col-sm-offset-14 { margin-left: 58.33333333%; }
  .soul-col-sm-offset-15 { margin-left: 62.5%; }
  .soul-col-sm-offset-16 { margin-left: 66.66666667%; }
  .soul-col-sm-offset-17 { margin-left: 70.83333333%; }
  .soul-col-sm-offset-18 { margin-left: 75%; }
  .soul-col-sm-offset-19 { margin-left: 79.16666667%; }
  .soul-col-sm-offset-20 { margin-left: 83.33333333%; }
  .soul-col-sm-offset-21 { margin-left: 87.5%; }
  .soul-col-sm-offset-22 { margin-left: 91.66666667%; }
  .soul-col-sm-offset-23 { margin-left: 95.83333333%; }
  .soul-col-sm-offset-24 { margin-left: 100%; }
}
/*** >=992的设备 ***/
@media screen and (min-width: 992px) {
	.soul-col-md-1  { width: 4.16666667%; }
	.soul-col-md-2  { width: 8.33333333%; }
	.soul-col-md-3  { width: 12.5%; }
	.soul-col-md-4  { width: 16.66666667%; }
	.soul-col-md-5  { width: 20.83333333%; }
	.soul-col-md-6  { width: 25%; }
	.soul-col-md-7  { width: 29.16666667%; }
	.soul-col-md-8  { width: 33.33333333%; }
	.soul-col-md-9  { width: 37.5%; }
	.soul-col-md-10 { width: 41.66666667%; }
	.soul-col-md-11 { width: 45.83333333%; }
	.soul-col-md-12 { width: 50%; }
	.soul-col-md-13 { width: 54.16666667%; }
	.soul-col-md-14 { width: 58.33333333%; }
	.soul-col-md-15 { width: 62.5%; }
	.soul-col-md-16 { width: 66.66666667%; }
	.soul-col-md-17 { width: 70.83333333%; }
	.soul-col-md-18 { width: 75%; }
	.soul-col-md-19 { width: 79.16666667%; }
	.soul-col-md-20 { width: 83.33333333%; }
	.soul-col-md-21 { width: 87.5%; }
	.soul-col-md-22 { width: 91.66666667%; }
	.soul-col-md-23 { width: 95.83333333%; }
	.soul-col-md-24 { width: 100%; }

  .soul-col-md-offset-1  { margin-left: 4.16666667%; }
  .soul-col-md-offset-2  { margin-left: 8.33333333%; }
  .soul-col-md-offset-3  { margin-left: 12.5%; }
  .soul-col-md-offset-4  { margin-left: 16.66666667%; }
  .soul-col-md-offset-5  { margin-left: 20.83333333%; }
  .soul-col-md-offset-6  { margin-left: 25%; }
  .soul-col-md-offset-7  { margin-left: 29.16666667%; }
  .soul-col-md-offset-8  { margin-left: 33.33333333%; }
  .soul-col-md-offset-9  { margin-left: 37.5%; }
  .soul-col-md-offset-10 { margin-left: 41.66666667%; }
  .soul-col-md-offset-11 { margin-left: 45.83333333%; }
  .soul-col-md-offset-12 { margin-left: 50%; }
  .soul-col-md-offset-13 { margin-left: 54.16666667%; }
  .soul-col-md-offset-14 { margin-left: 58.33333333%; }
  .soul-col-md-offset-15 { margin-left: 62.5%; }
  .soul-col-md-offset-16 { margin-left: 66.66666667%; }
  .soul-col-md-offset-17 { margin-left: 70.83333333%; }
  .soul-col-md-offset-18 { margin-left: 75%; }
  .soul-col-md-offset-19 { margin-left: 79.16666667%; }
  .soul-col-md-offset-20 { margin-left: 83.33333333%; }
  .soul-col-md-offset-21 { margin-left: 87.5%; }
  .soul-col-md-offset-22 { margin-left: 91.66666667%; }
  .soul-col-md-offset-23 { margin-left: 95.83333333%; }
  .soul-col-md-offset-24 { margin-left: 100%; }
}
/*** >=1200的设备 ***/
@media screen and (min-width: 1200px) {
	.soul-col-lg-1  { width: 4.16666667%; }
	.soul-col-lg-2  { width: 8.33333333%; }
	.soul-col-lg-3  { width: 12.5%; }
	.soul-col-lg-4  { width: 16.66666667%; }
	.soul-col-lg-5  { width: 20.83333333%; }
	.soul-col-lg-6  { width: 25%; }
	.soul-col-lg-7  { width: 29.16666667%; }
	.soul-col-lg-8  { width: 33.33333333%; }
	.soul-col-lg-9  { width: 37.5%; }
	.soul-col-lg-10 { width: 41.66666667%; }
	.soul-col-lg-11 { width: 45.83333333%; }
	.soul-col-lg-12 { width: 50%; }
	.soul-col-lg-13 { width: 54.16666667%; }
	.soul-col-lg-14 { width: 58.33333333%; }
	.soul-col-lg-15 { width: 62.5%; }
	.soul-col-lg-16 { width: 66.66666667%; }
	.soul-col-lg-17 { width: 70.83333333%; }
	.soul-col-lg-18 { width: 75%; }
	.soul-col-lg-19 { width: 79.16666667%; }
	.soul-col-lg-20 { width: 83.33333333%; }
	.soul-col-lg-21 { width: 87.5%; }
	.soul-col-lg-22 { width: 91.66666667%; }
	.soul-col-lg-23 { width: 95.83333333%; }
	.soul-col-lg-24 { width: 100%; }

  .soul-col-lg-offset-1  { margin-left: 4.16666667%; }
  .soul-col-lg-offset-2  { margin-left: 8.33333333%; }
  .soul-col-lg-offset-3  { margin-left: 12.5%; }
  .soul-col-lg-offset-4  { margin-left: 16.66666667%; }
  .soul-col-lg-offset-5  { margin-left: 20.83333333%; }
  .soul-col-lg-offset-6  { margin-left: 25%; }
  .soul-col-lg-offset-7  { margin-left: 29.16666667%; }
  .soul-col-lg-offset-8  { margin-left: 33.33333333%; }
  .soul-col-lg-offset-9  { margin-left: 37.5%; }
  .soul-col-lg-offset-10 { margin-left: 41.66666667%; }
  .soul-col-lg-offset-11 { margin-left: 45.83333333%; }
  .soul-col-lg-offset-12 { margin-left: 50%; }
  .soul-col-lg-offset-13 { margin-left: 54.16666667%; }
  .soul-col-lg-offset-14 { margin-left: 58.33333333%; }
  .soul-col-lg-offset-15 { margin-left: 62.5%; }
  .soul-col-lg-offset-16 { margin-left: 66.66666667%; }
  .soul-col-lg-offset-17 { margin-left: 70.83333333%; }
  .soul-col-lg-offset-18 { margin-left: 75%; }
  .soul-col-lg-offset-19 { margin-left: 79.16666667%; }
  .soul-col-lg-offset-20 { margin-left: 83.33333333%; }
  .soul-col-lg-offset-21 { margin-left: 87.5%; }
  .soul-col-lg-offset-22 { margin-left: 91.66666667%; }
  .soul-col-lg-offset-23 { margin-left: 95.83333333%; }
  .soul-col-lg-offset-24 { margin-left: 100%; }
}

/************************************ Flex Layout ************************************/
.soul-row-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.soul-row-flex-flow {
  flex-flow: column;
  -webkit-flex-flow: column;
}
.soul-row-flex-unit {
	-moz-flex: 1.0;
  -webkit-flex: 1.0;
  -ms-flex: 1.0;
  flex: 1.0;
}
.soul-row-flex-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.soul-row-flex-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.soul-row-flex-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.soul-row-flex-space-around {
	-webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.soul-row-flex-space-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.soul-row-flex-top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.soul-row-flex-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.soul-row-flex-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/************************************ Button CSS ************************************/
.soul-btn {
	font-size: 12px;
	font-weight: 400;
	border-radius: 2px;
	height: 32px;
	padding: 0 16px;
	text-align: center;
	cursor: pointer;
	text-shadow: none;
	color: #fff;
	border:1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear;
  transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear;
}
.soul-btn-large {
  height: 36px;
  padding: 0 20px;
}
.soul-btn-small {
  height: 24px;
  padding: 0 7px;
}
.soul-btn-circle {
	border-radius: 30px;
}
.soul-btn.disabled,
.soul-btn[disabled]{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .6!important;
}
.soul-btn:active {
	background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.soul-btn:hover,
.soul-btn:focus {
	opacity: .82;
}
.soul-btn-default {
	color: rgba(0,0,0,.65);
	border: 1px solid #e5e5e5;
	background: #fff;
}
.soul-btn-default:hover,
.soul-btn-default:focus {
	background: #f1f1f1;
	opacity: 1;
}
.soul-btn-default.disabled,
.soul-btn-default[disabled] {
	background-color: #dadada;
  border-color: #dadada;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.soul-btn-primary {
	background: #11a9cc;
}
.soul-btn-success {
	background: #2ec5ac;
}
.soul-btn-info {
	background: #00C1DE;
}
.soul-btn-warning {
	background: #f5c635;
}
.soul-btn-danger {
	background: #ff6d5e;
}
.soul-btn-text {
  color: rgba(0,0,0,.7);
  background: transparent;
  border: 0;
}
.soul-btn-text:hover {
  color: #43bfe3;
}
/************************************ Input CSS ************************************/
.soul-input {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 32px;
	padding: 6px 8px;
	font-size: 12px;
	color: rgba(0,0,0,.65);
	cursor: text;
	background: #fff;
	border: 1px solid #dce1e4;
	border-radius: 2px;
	-webkit-transition: all .3s;
  transition: all .3s;
}
.soul-input-sm {
	height: 28px;
	padding: 5px 8px;
}
.select-visible .select-input,
.soul-input:focus {
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59,180,242,.38);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59,180,242,.38);
}
.soul-input::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.soul-input:-ms-input-placeholder {
  color: #aaa;
}
.soul-input::-webkit-input-placeholder {
  color: #aaa;
}
.select-disabled .select-input,
.soul-input.disabled,
.soul-input[disabled]{
  cursor: not-allowed !important;
  border-color: #dce1e4 !important;
  background-color: #f2f2f2;
  opacity: 1;
}
.soul-input[readonly] {
	cursor: default;
	border-color: #dce1e4;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/************************************ Form CSS ************************************/
.soul-form-horizontal .soul-form-group {
	overflow: hidden;
	margin-bottom: 18px;
	line-height: 32px;
	font-size: 13px;
}
.soul-form-label {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	height: 32px;
}
.soul-form-required:before {
  display: inline-block;
  content: "*";
  font-family: SimSun;
  color: #f04134;
  position: relative;
  top: 1px;
  left: 2px;
}

/************************************ Table CSS ************************************/
.soul-table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	color: rgba(0,0,0,.69);
	width: 100%;
	font-size: 12px;
}
.soul-table>thead>tr>th {
	background: #f7f7f7;
	font-weight: 500;
	-webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: rgba(0,0,0,.8);
}
.soul-table>thead>tr>th,
.soul-table>tbody>tr>td {
	padding: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid #e9e9e9;
}
.soul-table-lg>thead>tr>th,
.soul-table-lg>tbody>tr>td {
	padding: 16px 10px 14px;
}
.soul-table-border {
	border: 1px solid #e9e9e9;
}
.soul-table-bordered {
	border: 1px solid #e9e9e9;
	border-right: 0;
	border-bottom: 0;
}
.soul-table-bordered>thead>tr>th {
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}
.soul-table-bordered>tbody>tr>td {
	border-right: 1px solid #e9e9e9;
}
.soul-table-hover>tbody>tr:hover>td {
  background-color: rgba(231,247,255,0.9);
	/*background-color: rgba(16,142,233,.08);*/
}
.soul-table>tbody>tr.soul-tr-success>td {
	background-color: rgba(46,197,172,0.55);
}
.soul-table>tbody>tr.soul-tr-danger>td {
	background-color: rgba(255,109,94,0.55);
}
.soul-table>tbody>tr.soul-tr-warning>td {
	background-color: rgba(245,198,53,0.55);
}
.soul-table-stripe>tbody>tr:nth-child(even) {
  background: #f9f9f9;
}
.soul-thead-fixed table>thead {
  display: none !important;
}
.soul-table-wrap table {
  table-layout: fixed;
}
.soul-table-header {
  overflow: hidden;
}
.soul-table-body {
  overflow: auto;
}

/************************************ Form checkbxo radio CSS ************************************/
.soul-checkbox, .soul-radio {
	position: relative;
	display: inline-block;
	font-weight: normal;
	margin-right: 10px;
	font-size: 12px;
  cursor: pointer;
}
.soul-checkbox input, .soul-radio input {
	position: absolute;
	opacity: 0;
	margin-left: 0;
}
.soul-checkbox .soul-inner, .soul-radio .soul-inner {
	position: relative;
	display: inline-block;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #dce1e4;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.soul-radio .soul-inner {
	border-radius: 50%;
}
.soul-checkbox:hover .soul-inner, .soul-radio:hover .soul-inner {
  border-color: #3bb4f2;
}
.soul-checkbox .soul-inner:after {
	content: " ";
	position: absolute;
	left: 4px;
	top: 1px;
	width: 6px;
	height: 9px;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	opacity: 0;
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  -webkit-transition: all .25s;
  transition: all .25s;
}
.soul-checkbox-indeterminate .soul-inner:after {
  border-bottom: 0;
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.soul-checkbox input:checked + .soul-inner {
	background: #3bb4f2;
	border-color: #3bb4f2;
	-webkit-animation: scaleE .2s cubic-bezier(.4,0,.5,1);
  animation: scaleE .2s cubic-bezier(.4,0,.5,1);
}
.soul-checkbox input:checked + .soul-inner:after {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}
.soul-radio .soul-inner:after {
	content: " ";
	position: absolute;
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	background: #3bb4f2;
	border-radius: 50%;
	opacity: 0;
	-webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.soul-radio input:checked + .soul-inner {
	border-color: #3bb4f2;
}
.soul-radio input:checked + .soul-inner:after {
	opacity: 1;
	-webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.soul-checkbox input[disabled] + .soul-inner,
.soul-radio input[disabled] + .soul-inner {
  cursor: not-allowed;
  border-color: #d9d9d9!important;
  background-color: #f7f7f7;
}
.soul-checkbox input[disabled] + .soul-inner:after {
  border-color: #d9d9d9;
}
.soul-radio input[disabled] + .soul-inner:after {
  background: #d9d9d9;
}

.soul-checkboxgroup-sm .soul-checkbox .soul-inner,
.soul-checkbox-sm .soul-inner,
.soul-radiogroup-sm .soul-radio .soul-inner,
.soul-radio-sm .soul-inner {
	width: 13px;
	height: 13px;
}
.soul-checkboxgroup-sm .soul-checkbox .soul-inner:after,
.soul-checkbox-sm .soul-inner:after {
	top: 0;
	left: 3px;
	border-width: 1px;
	width: 5px;
	height: 8px;
}
.soul-radiogroup-sm .soul-radio .soul-inner:after,
.soul-radio-sm .soul-inner:after {
	width: 5px;
	height: 5px;
}
.soul-radiogroup-btn .soul-inner {
  display: none;
}
.soul-radiogroup-btn:after {
	display: table;
	content: " ";
	clear: both;
}
.soul-radiogroup-btn .soul-radio {
  float: left;
  background: #e8e8e8;
  color: #666;
  text-align: center;
  height: 28px;
  line-height: 28px;
  padding: 0 28px;
  font-size: 12px;
  min-width: 105px;
  transition: all 0.3s;
  margin-right: 0;
  border-right: 1px solid #fff;
}
.soul-radiogroup-btn .soul-radio:last-child {
  border: 0;
}
.soul-radiogroup-btn .soul-radio-checked:before {
  content: "\e645";
  font-family: "soulfont";
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 5px;
  color: #fff;
}
.soul-radiogroup-btn .soul-radio-checked {
  color: #fff;
  background: #43bfe3;
}

@-webkit-keyframes scaleE{
	0%,100% {-webkit-transform:scale(1);transform:scale(1)}
	33% {-webkit-transform:scale(.5);transform:scale(.5)}
}
@keyframes scaleE{
	0%,100% {-webkit-transform:scale(1);transform:scale(1)}
	33% {-webkit-transform:scale(.5);transform:scale(.5)}
}
/************************************ Message CSS ************************************/
.message-wrap {
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
	min-width: 280px;
	padding: 7px 34px 7px 38px;
	box-sizing: border-box;
	border-radius: 2px;
	position: fixed;
	left: 50%;
	top: 20px;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #fff;
	transition: opacity .3s,transform .4s;
	overflow: hidden;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}
.message-info-bg {
  background: rgba(0, 193, 222, 0.8);
}
.message-success-bg {
  background: rgba(46, 197, 172, 0.9);
}
.message-warn-bg {
  background: rgba(245, 198, 53, 0.9);
}
.message-error-bg {
  background: rgba(255, 109, 94, 0.86);
}
.message-fade-enter,.message-fade-leave-active {
	opacity: 0;
	-ms-transform: translate(-50%,-100%);
	transform: translate(-50%,-100%)
}
.message-wrap .msg-type-icon {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 8px;
  -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.message-wrap .msg-close-icon {
  font-size: 16px;
  position: absolute;
  top: 11px;
  right: 6px;
  cursor: pointer;
  z-index: 99;
}
.message-wrap .msg-close-icon:hover {
  color: rgba(255,255,255,.8);
}

/************************************ Font CSS ************************************/
@font-face {
  font-family: "soulfont";
  src: url('fonts/soulfont.eot?t=1507856123545');  /* IE9*/
  src: url('fonts/soulfont.eot?t=1507856123545#iefix') format('embedded-opentype'),  /* IE6-IE8 */
  url('fonts/soulfont.woff?t=1507856123545') format('woff'),
  url('fonts/soulfont.ttf?t=1507856123545') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/soulfont.svg?t=1507856123545#iconfont') format('svg');  /* iOS 4.1- */
}
.soulicon {
  position: relative;
  display: inline-block;
  font-family:"soulfont" !important;
  font-size:16px;
  font-style:normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.icon-global:before { content: "\e605"; }
.icon-check:before { content: "\e645"; }
.icon-close:before { content: "\e646"; }
.icon-close-fill:before { content: "\e65b"; }
.icon-shuffle:before { content: "\e642"; }
.icon-question:before { content: "\e6f2"; }
.icon-info:before { content: "\e659"; }
.icon-downb:before { content: "\e619"; }
.icon-leftb:before { content: "\e61d"; }
.icon-upb:before { content: "\e629"; }
.icon-computer:before { content: "\e6db"; }
.icon-cry:before { content: "\e69c"; }
.icon-smile:before { content: "\e6af"; }
.icon-filter-fill:before { content: "\e6d5"; }
.icon-arrow-down:before { content: "\e72d"; }
.icon-more:before { content: "\e67f"; }
.icon-pause-circle:before { content: "\e7c6"; }
.icon-earth:before { content: "\e63a"; }
.icon-ie:before { content: "\e797"; }
.icon-apple-fill:before { content: "\e61c"; }
.icon-integral:before { content: "\e626"; }
.icon-top-arrow-fill:before { content: "\e628"; }
.icon-cloud-up:before { content: "\e6fb"; }
.icon-cloud-down:before { content: "\e6fa"; }
.icon-app:before { content: "\e60f"; }
.icon-add:before { content: "\e767"; }
.icon-move:before { content: "\e768"; }
.icon-back-top:before { content: "\e63f"; }
.icon-minus-circle:before { content: "\e8c5"; }
.icon-xbox:before { content: "\e8df"; }
.icon-tool:before { content: "\e63c"; }
.icon-pause-fill:before { content: "\e877"; }
.icon-right-circle:before { content: "\e87f"; }
.icon-down-circle:before { content: "\e8cd"; }
.icon-up-circle:before { content: "\e956"; }
.icon-slb:before { content: "\e689"; }
.icon-menu-open:before { content: "\e978"; }
.icon-menu-fold:before { content: "\ea07"; }
.icon-videocamera:before { content: "\ea21"; }
.icon-safer:before { content: "\e64a"; }
.icon-windows:before { content: "\e623"; }
.icon-mail:before { content: "\e644"; }
.icon-paper-clip:before { content: "\ead0"; }
.icon-team:before { content: "\e624"; }
.icon-flag:before { content: "\e60e"; }
.icon-chrome:before { content: "\e620"; }
.icon-close-circle:before { content: "\e6d9"; }
.icon-locker:before { content: "\e655"; }
.icon-battery:before { content: "\e696"; }
.icon-plus-circle:before { content: "\e726"; }
.icon-info-fill:before { content: "\e72a"; }
.icon-question-fill:before { content: "\e72c"; }
.icon-check-fill:before { content: "\e731"; }
.icon-order:before { content: "\e737"; }
.icon-like:before { content: "\e761"; }
.icon-full-screen:before { content: "\e6c2"; }
.icon-arrow-right:before { content: "\e62c"; }
.icon-arrow-up:before { content: "\e62d"; }
.icon-arrow-left:before { content: "\e62e"; }
.icon-add-user:before { content: "\e6b4"; }
.icon-angle-left:before { content: "\e656"; }
.icon-angle-right:before { content: "\e657"; }
.icon-qrcode:before { content: "\e648"; }
.icon-time:before { content: "\e64d"; }
.icon-feedback:before { content: "\e658"; }
.icon-camera:before { content: "\e663"; }
.icon-plane:before { content: "\e65a"; }
.icon-praise:before { content: "\e677"; }
.icon-user-fill:before { content: "\e6bc"; }
.icon-praise-fill:before { content: "\e6ce"; }
.icon-left-square:before { content: "\eba7"; }
.icon-right-square:before { content: "\eba8"; }
.icon-location:before { content: "\e6d7"; }
.icon-warn:before { content: "\e6eb"; }
.icon-bars:before { content: "\ec01"; }
.icon-book:before { content: "\ec07"; }
.icon-up-square:before { content: "\ed54"; }
.icon-micoff:before { content: "\e6c7"; }
.icon-loading-circle:before { content: "\e69d"; }
.icon-phone:before { content: "\e651"; }
.icon-pushpin-fill:before { content: "\ed67"; }
.icon-delete:before { content: "\e68d"; }
.icon-speech:before { content: "\e687"; }
.icon-clock:before { content: "\e650"; }
.icon-home:before { content: "\e6da"; }
.icon-list:before { content: "\e653"; }
.icon-github:before { content: "\e621"; }
.icon-back:before { content: "\e641"; }
.icon-login:before { content: "\e858"; }
.icon-calculator:before { content: "\e6e0"; }
.icon-warn-fill:before { content: "\e65e"; }
.icon-picture:before { content: "\e62f"; }
.icon-wechat-fill:before { content: "\e673"; }
.icon-weibo:before { content: "\e63b"; }
.icon-password:before { content: "\e602"; }
.icon-printer:before { content: "\e625"; }
.icon-eye:before { content: "\eebc"; }
.icon-appstore:before { content: "\eeca"; }
.icon-pushpin:before { content: "\eed6"; }
.icon-down-square:before { content: "\eeff"; }
.icon-brisk:before { content: "\e87b"; }
.icon-share:before { content: "\e634"; }
.icon-download:before { content: "\e616"; }
.icon-logout:before { content: "\e838"; }
.icon-warning-fill:before { content: "\e68c"; }
.icon-file:before { content: "\e73e"; }
.icon-filter:before { content: "\e640"; }
.icon-search:before { content: "\e60a"; }
.icon-loading-semi:before { content: "\e64e"; }
.icon-database:before { content: "\e643"; }
.icon-save:before { content: "\e61a"; }
.icon-loading:before { content: "\e647"; }
.icon-down:before { content: "\e615"; }
.icon-ban:before { content: "\e6dc"; }
.icon-scan:before { content: "\e617"; }
.icon-heart:before { content: "\e65c"; }
.icon-full-scan:before { content: "\e64c"; }
.icon-swap:before { content: "\e652"; }
.icon-tags:before { content: "\e654"; }
.icon-ip:before { content: "\e661"; }
.icon-jira:before { content: "\e7bc"; }
.icon-tag:before { content: "\e604"; }
.icon-check-circle:before { content: "\e699"; }
.icon-left-circle:before { content: "\e85f"; }
.icon-verticle-right:before { content: "\e880"; }
.icon-music:before { content: "\e680"; }
.icon-calendar:before { content: "\e611"; }
.icon-star:before { content: "\e613"; }
.icon-dashboard:before { content: "\e6b3"; }
.icon-shutdown:before { content: "\e607"; }
.icon-tasks:before { content: "\e6e5"; }
.icon-bell:before { content: "\e68f"; }
.icon-wifi:before { content: "\e730"; }
.icon-sound:before { content: "\e609"; }
.icon-fire:before { content: "\e773"; }
.icon-telephony-list:before { content: "\e632"; }
.icon-chart:before { content: "\e66a"; }
.icon-qq:before { content: "\e622"; }
.icon-fork:before { content: "\e63d"; }
.icon-usb:before { content: "\e8da"; }
.icon-note:before { content: "\e681"; }
.icon-mobile:before { content: "\e603"; }
.icon-boost:before { content: "\e6fe"; }
.icon-plus-square:before { content: "\e631"; }
.icon-loader:before { content: "\e61e"; }
.icon-warn-circle:before { content: "\e637"; }
.icon-reload:before { content: "\e783"; }
.icon-api:before { content: "\e627"; }
.icon-rightb:before { content: "\e600"; }
.icon-shake:before { content: "\e74e"; }
.icon-pay:before { content: "\e61f"; }
.icon-history:before { content: "\e614"; }
.icon-setting:before { content: "\e606"; }
.icon-idcard:before { content: "\e60d"; }
.icon-android:before { content: "\e60c"; }
.icon-android-fill:before { content: "\e7aa"; }
.icon-cloud:before { content: "\e67c"; }
.icon-share-alt:before { content: "\e635"; }
.icon-close-line:before { content: "\e6d0"; }
.icon-ths:before { content: "\e60b"; }
.icon-woman:before { content: "\e6ee"; }
.icon-link:before { content: "\e608"; }
.icon-apple:before { content: "\e61b"; }
.icon-shopping-cart:before { content: "\e62a"; }
.icon-gift:before { content: "\e6b6"; }
.icon-disconnect:before { content: "\e618"; }
.icon-hdd:before { content: "\e633"; }
.icon-man:before { content: "\e636"; }
.icon-play-fill:before { content: "\e6f9"; }
.icon-sync:before { content: "\e610"; }
.icon-bar-chart:before { content: "\e64b"; }
.icon-right:before { content: "\e612"; }
.icon-msg:before { content: "\e630"; }
.icon-up:before { content: "\e601"; }
.icon-user:before { content: "\e638"; }
.icon-left:before { content: "\e62b"; }
.icon-pulse:before { content: "\e64f"; }
.icon-edit:before { content: "\ef00"; }
.icon-verticle-left:before { content: "\ef01"; }

.animation-slow {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.animation-fast {
  -webkit-animation: spin 0.75s infinite steps(8);
  animation: spin 0.75s infinite steps(8);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/************************************ SwitchBtn CSS ************************************/
.switch-btn {
  display: inline-block;
}
.switch-btn input {
  position: absolute;
  opacity: 0;
}
.switch-btn .switch-inner {
  position: relative;
  width: 46px;
  height: 24px;
  line-height: 22px;
  border-radius: 24px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  opacity: 0.8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s ease-in-out;
}
.switch-btn .switch-text {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
}
.switch-btn .switch-inner:after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  transition: all .2s ease-in-out;
}
.switch-btn input:checked + .switch-inner .switch-text {
  left: 8px;
}
.switch-btn input:checked + .switch-inner {
  border-color: #00C1DE;
  box-shadow: #00C1DE 0 0 0 16px inset;
  background-color: #00C1DE;
  opacity: .8;
}
.switch-btn input:checked + .switch-inner:after {
  left: 23px;
}
.switch-btn.lg-switch .switch-inner {
  width: 58px;
}
.switch-btn.lg-switch input:checked + .switch-inner:after {
  left: 35px;
}
.switch-btn input:disabled + .switch-inner {
  opacity: 0.4;
  cursor: not-allowed;
}
.switch-btn input:disabled + .switch-inner:after {
  cursor: not-allowed;
}

/************************************ Selection CSS ************************************/
.select-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select-input {
  border: 1px solid #dce1e4;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.select-input:hover {
  border-color: rgba(59,180,242,0.7);
}
.select-input-inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  height: 30px;
  padding: 6px 25px 6px 8px;
  border: 0;
  color: rgba(0,0,0,.65);
  outline: none!important;
  cursor: pointer;
}
.select-disabled .select-input-inner {
  cursor: not-allowed;
  background-color: #f2f2f2;
}
.multiple-wrap .select-input-inner {
  float: left;
  width: 32px;
  padding-right: 8px;
}
.soul-datepicker-disabled .select-input {
  border-color: #dce1e4;
}
.soul-datepicker-disabled .select-input-inner {
  background: #f4f4f4;
  cursor: not-allowed;
}
.soul-datepicker-disabled .soul-daterange-cuter {
  background: #f4f4f4;
  cursor: not-allowed;
}
.select-wrap .select-icon {
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -6px;
  font-size: 13px;
  color: #80848f;
  transition: all .2s ease-in-out;
}
.clears {
  display: none;
  cursor: pointer;
}
.select-clear .select-input:hover .arrows {
  display: none;
}
.select-clear .select-input:hover .clears {
  font-size: 14px;
  display: inline-block;
}
.select-dropdown {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  margin: 5px 0;
  padding: 5px 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
  z-index: 900;
}
.select-list li {
  margin: 0;
  padding: 7px 12px 7px 15px;
  clear: both;
  color: #495060;
  font-size: 12px!important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background .2s ease-in-out;
}
.select-list li.item-hover,
.select-list li:hover {
  background: rgb(243,243,243);
}
.select-list li.item-selected,
.select-list li.item-selected:hover {
  color: #fff;
  background: #3bb4f2;
}
.select-list li.item-selected.item-hover {
  background: rgba(22,155,224,.92);
}
.select-multiple .select-list li.item-selected {
  color: #35b9fd;
  background: transparent;
}
.select-multiple .select-list li.item-selected:after {
  display: inline-block;
  font-family: "SoulFont";
  content: "\e645";
  float: right;
  font-weight: 400;
  font-style: normal;
  color: #35b9fd;
  font-size: 16px;
  line-height: 1;
}
.select-multiple .select-list li.item-hover,
.select-multiple .select-list li.item-selected:hover {
  background: rgb(243,243,243);
}
.multiple-wrap {
  padding-right: 25px;
}
.multiple-wrap .item-tag {
  float: left;
  padding: 0 5px;
  margin: 3px 0 3px 6px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e9e9e9;
  color: #555;
  background: #f8f8f8;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.multiple-wrap .soulicon {
  color: #888;
  font-size: 12px;
  margin-left: 6px;
}
.multiple-wrap .soulicon:hover {
  color: #555;
}
/************************************ Transition CSS ************************************/
.slide-down-appear,.slide-down-enter-active,.slide-down-leave-active {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-play-state: paused;
	animation-play-state: paused
}
.slide-down-appear,.slide-down-enter-active {
	-webkit-animation-name: slideDownIn;
	animation-name: slideDownIn;
	-webkit-animation-play-state: running;
	animation-play-state: running
}
.slide-down-leave-active {
	-webkit-animation-name: slideDownOut;
	animation-name: slideDownOut;
	-webkit-animation-play-state: running;
	animation-play-state: running
}
.slide-down-appear,.slide-down-enter-active {
	opacity: 0
}
.slide-down-appear,.slide-down-enter-active,.slide-down-leave-active {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}
@-webkit-keyframes slideDownIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
	to {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}
@keyframes slideDownIn {
	0% {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
	to {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
}
@-webkit-keyframes slideDownOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
	to {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
}
@keyframes slideDownOut {
	0% {
		opacity: 1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(1);
		transform: scaleY(1)
	}
	to {
		opacity: 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(.8);
		transform: scaleY(.8)
	}
}

/************************************ Date CSS ************************************/
.soul-datepicker {
  display: inline-block;
  position: relative;
}
.soul-datepicker .select-dropdown {
  width: 260px;
  max-height: inherit;
  padding-top: 2px;
}
.soul-datepicker .soul-datepicker-input {
  position: relative;
}
.soul-datepicker .soul-datepicker-icon {
  position: absolute;
  top: 50%;
  right: 7px;
  margin-top: -8px;
  font-size: 16px;
  color: #999;
}
.soul-date-content {
  position: relative;
  padding-bottom: 4px;
}
.soul-date-content .soul-date-wrap {
  padding: 3px 8px 0;
}
.soul-year-table {
  border: 0;
  table-layout: fixed;
}
.soul-year-table>tbody>tr>td {
  border: 0;
  text-align: center;
  padding: 14px 8px;
}
.soul-date-table>tbody>tr>td {
  border: 0;
  padding: 4px 0;
  position: relative;
}
.soul-date-table td a,
.soul-year-table td a {
  display: inline-block;
  margin: 0 auto;
  color: rgba(0,0,0,.7);
  background: transparent;
  text-align: center;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  position: relative;
  z-index: 99;
}
.soul-date-table td a:hover,
.soul-year-table td a:hover {
  background:#ecf6fd;
  color: #43bfe3;
}
.soul-date-table td .soul-date-gray,
.soul-date-table td .soul-date-gray:hover,
.soul-year-table td .soul-year-gray,
.soul-year-table td .soul-year-gray:hover {
  color: rgba(0,0,0,.25);
}
.soul-date-table td a.soul-date-today {
  border: 1px dashed #43bfe3;
  color: #43bfe3;
  padding: 0 5px;
}
.soul-date-table td a.soul-date-selected,
.soul-year-table td a.soul-year-selected {
  background: #43bfe3;
  color: #fff;
}
.soul-date-table td a {
  height: 22px;
  line-height: 22px;
  width: 26px;
  border-radius: 3px;
}
.soul-date-table {
  text-align: center;
}
.soul-date-table>tbody>tr>th {
  font-weight: normal;
  color: #777;
}
.soul-date-table>tbody>tr>th {
  padding: 6px 0;
}
.soul-date-header {
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.soul-date-header .soulicon {
  position: absolute;
  top: 0;
  color: rgba(0,0,0,.4);
  padding: 0 5px;
  font-size: 15px;
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.soul-date-footer {
  border-top: 1px solid #e9e9e9;
  padding: 5px 10px 0;
  text-align: right;
  clear: both;
}
.soul-date-footer > span {
  color: #43bfe3;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding: 2px 0;
  transition: all .2s ease-in-out;
}
.soul-date-footer > span:hover {
  color: #5bd5f9;
}
.soul-datepicker-month:hover,
.soul-datepicker-year:hover,
.soul-date-header .soulicon:hover {
  color: #43bfe3;
}
.soul-date-header .icon-angle-left {
  left: 8px;
}
.soul-date-header .icon-left {
  left: 31px;
  font-size: 12px;
}
.soul-date-header .icon-angle-right {
  right: 8px;
}
.soul-date-header .icon-right {
  right: 31px;
  font-size: 12px;
}
.soul-datepicker-month,
.soul-datepicker-year {
  cursor: pointer;
  font-size: 13px;
  color: rgba(0,0,0,.55);
  font-weight: 500;
}
.soul-date-time {
  background: #fff;
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 245px;
}
.soul-time-wrap {
  padding: 0;
  overflow: hidden;
  height: 214px;
}
.soul-time-wrap > div {
  border-right: 1px solid #e9e9e9;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 214px;
}
.soul-time-wrap > div:hover {
  overflow-y: auto;
}
.soul-time-wrap > div:last-child {
  border: 0;
}
.soul-time-wrap ul {
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  max-height: 214px;
}
.soul-time-wrap li {
  text-align: center;
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  list-style: none;
  transition: background .2s ease-in-out;
}
.soul-time-wrap ul li:last-child:after {
  content: "";
  height: 190px;
  display: block;
}
.soul-time-wrap li.soul-time-selected {
  background: #f7f7f7;
  font-weight: 700;
}
.soul-time-wrap li:hover {
  background: #ecf6fd;
}
.soul-daterange {
  min-width: 300px;
}
.soul-daterange .soul-daterange-cuter {
  display: inline-block;
  width: 14px;
  line-height: 31px;
  font-size: 12px;
  color: rgba(0,0,0,.75);
  text-align: center;
}
.soul-daterange .select-input-inner {
  text-align: center;
}
.soul-daterange .select-dropdown {
  width: 520px;
}
.soul-daterange-wrap .soul-datepicker-wrap {
  float: left;
  width: 50%;
}
.soul-daterange-bottom {
  padding-bottom: 8px;
}
.soul-date-ranged:before {
  content: '';
  display: block;
  background: #e6f7ff;
  border-radius: 0;
  border: 0;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  right: 0;
}
.soul-date-footer > .soul-date-selecttime-disabeld {
  color: rgba(0,0,0,.25);
  pointer-events: none;
}
.soul-date-time-cutline {
  position: absolute;
  top: 0;
  right: -4px;
  width: 7px;
  height: 100%;
  background: #f1f1f1;
}
